.assistant.accordion-wrapper {
  @extend .sticky-element;
  width: 250px;
}

.assistant-title {
  background-color: $active-fore-color;
  border: none;
  text-align: left;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  padding: 6px;
}

.assistant-title-icon {
  margin-right: 6px;
}

.assistant-body {
  padding: 12px;
  background-color: $paper-bg-color;

  .info-section {
    padding-right: 12px;
    max-height: 300px;
  }
}

.search-section {
  margin-bottom: 12px;
  position: relative;
}

.txt-input {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  padding: 6px 24px 6px 0;
  border: none 0px;
  outline: none;
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  background-color: transparent;
}

.material-icons-sharp.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  transition: opacity 200ms;
}

.txt-input:focus + span.material-icons-sharp.search-icon {
  opacity: 1;
}

.text-underline {
  height: 2px;
  width: 35px;
  background-color: $font-color-faded;
  display: inline-block;
  transition: width 200ms, background-color 200ms;
  position: relative;
  top: -13px;
}

.txt-input:focus ~ div.text-underline {
  width: 100%;
  background-color: $font-color;
}

.assistant-link {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
  transition: opacity 200ms;
  margin-top: 12px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}
