.user-menu button,
.btn-hamburger {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 200ms;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.user-menu li:not(:last-child) {
  margin-right: 4px;
}

.material-icons-sharp.md-36 {
  font-size: 36px;
  color: $font-color;
}

.top-menu-list button {
  background-color: $paper-bg-color;
  padding: 3px 2px;
  margin: 0;
  cursor: pointer;
  border: none;
  display: block;
  transition: background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: $active-fore-color;
    box-shadow: inset 0 0 12px $lightest-color;
  }

  &:focus {
    background-color: $lightest-color;
    box-shadow: inset 0 0 16px $pure-white;
  }
}

.img-ht {
  height: 30px;
  display: block;
}

.mus-font-span {
  display: block;
  font-family: Leland;
  font-size: 22px;
  line-height: 50px;
  height: 30px;
  padding: 0 5px;
}

.braura-font-span {
  font-family: BravuraText;
  line-height: 30px;
  font-size: 30px;
  display: block;
}

.accidental-controls .mus-font-span {
  font-size: 30px;
  line-height: 34px;
}

.rest-controls .mus-font-span {
  font-size: 20px;
  line-height: 28px;
}

.accordion-buttons-wrap button,
.accordion-buttons-grid button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background-color: $paper-bg-color;
  padding: 3px 12px;
  margin: 0;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $active-fore-color;
  box-shadow: inset 0 0 12px $lightest-color;
  transition: background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: $active-fore-color;
    box-shadow: inset 0 0 14px $pure-white;
  }

  &:focus {
    background-color: $lightest-color;
    box-shadow: inset 0 0 16px $pure-white;
  }
}

.widget-icon-button-text {
  margin-left: 6px;
}
