@use "globals";

%button-base {
  background-color: globals.$paper-bg-color;
  padding: 3px 2px;
  margin: 0;
  cursor: pointer;
  border: none;
  display: block;
  transition: background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: globals.$active-fore-color;
    box-shadow: inset 0 0 12px globals.$lightest-color;
  }

  &:focus {
    background-color: globals.$lightest-color;
    box-shadow: inset 0 0 16px globals.$pure-white;
  }
}

.user-menu button,
.btn-hamburger {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 200ms;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.user-menu li:not(:last-child) {
  margin-right: 4px;
}

.i-sharp.md-36 {
  font-size: 36px;
  color: globals.$font-color;
}

.top-menu-list {
  button {
    @extend %button-base;
    display: inline-flex;
    overflow: hidden;
  }

  &.accidental-controls {
    height: 36px;
    overflow: hidden;

    button {
      height: 100%;
      padding: 3px 5px;

      span {
        height: 100%;
        margin: 0;
        display: inline-block;
        background-image: url("../img/sprites/accidentals-sprite-6.svg");
        width: 20px;
        background-repeat: no-repeat;
        background-size: cover;

        &.bekar {
          background-position-x: 0;
          width: 10px;
        }

        &.fazla-bemol {
          background-position-x: -176px;
          width: 10px;
        }

        &.bakiyye-bemol {
          background-position-x: -239px;
          width: 10px;
        }

        &.k-mucennep-bemol {
          background-position-x: -188px;
          width: 10px;
        }

        &.b-mucennep-bemol {
          background-position-x: -253px;
          width: 10px;
        }

        &.tanini-bemol {
          background-position-x: -220px;
          width: 14px;
        }

        &.fazla-diyez {
          background-position-x: -13px;
          width: 10px;
        }

        &.bakiyye-diyez {
          background-position-x: -25px;
          width: 10px;
        }

        &.k-mucennep-diyez {
          background-position-x: -67px;
          width: 12px;
        }

        &.b-mucennep-diyez {
          background-position-x: -83px;
          width: 12px;
        }

        &.tanini-diyez {
          background-position-x: -53px;
          width: 11px;
        }
      }
    }
  }

  &.duration-controls {
    height: 36px;
    overflow: hidden;

    button {
      height: 100%;
      padding: 3px 5px;

      span {
        height: 30px;
        font-size: 27px;
        line-height: 58px;
      }
    }
  }

  &.rest-controls {
    button {
      padding: 3px 5px;
      span {
        overflow: hidden;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

.img-ht {
  height: 30px;
  display: block;
}

.accordion-buttons-wrap button,
.accordion-buttons-grid button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background-color: globals.$paper-bg-color;
  padding: 3px 12px;
  margin: 0;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: globals.$active-fore-color;
  box-shadow: inset 0 0 12px globals.$lightest-color;
  transition: background-color 200ms, box-shadow 200ms;

  &:hover {
    background-color: globals.$active-fore-color;
    box-shadow: inset 0 0 14px globals.$pure-white;
  }

  &:focus {
    background-color: globals.$lightest-color;
    box-shadow: inset 0 0 16px globals.$pure-white;
  }
}

.widget-icon-button-text {
  margin-left: 6px;
}
