$font-color: rgba(34, 34, 34, 1);
$font-color-faded: rgba(34, 34, 34, 0.6);
$far-bg-color: rgb(243, 241, 224);
$paper-bg-color: rgb(247, 245, 234);
$active-fore-color: rgb(249, 248, 239);
$lightest-color: rgb(252, 251, 242);
$pure-white: rgb(255, 255, 255);
$dark-shadow-color: rgb(20, 20, 20);
$paper-width: 210mm;

@font-face {
  font-family: Leland;
  src: url("../fonts/Leland.otf") format("opentype");
}

@font-face {
  font-family: LelandText;
  src: url("../fonts/LelandText.otf") format("opentype");
}

@font-face {
  font-family: BravuraText;
  src: url("../fonts/BravuraText.woff");
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/material-sharp.woff2") format("woff2");
}

.material-icons-sharp {
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: LelandText;
  font-size: 16px;
  color: $font-color;
  height: 100%;
  background-color: $far-bg-color;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

.page-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 230mm 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 6px 6px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

h1.song-title {
  font-size: 36px;
  margin: 0 auto 18px auto;
  text-align: center;
}

h2.composer {
  font-size: 20px;
  margin: 0 auto 10px auto;
  text-align: right;
}

.header-section,
.footer {
  padding: 6px 0;
}

.mus-font {
  font-family: Leland;
  font-size: 36px;
}

.sticky-element {
  position: sticky;
  top: 0;
}

.widget-shadow {
  box-shadow: 0 0 14px -12px $dark-shadow-color;
}

.top-menu {
  @extend .sticky-element;
  @extend .widget-shadow;
  width: $paper-width;
  background-color: $paper-bg-color;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.A4 {
  width: $paper-width;
  height: 297mm;
  margin: 24px auto;
  background-color: $paper-bg-color;
  box-shadow: 0 0 24px -20px $dark-shadow-color;
  overflow: hidden;
}

.header-section {
  margin: auto;
  width: $paper-width;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-wrap {
  display: flex;
}

.head-space {
  flex: 1;
  min-width: 286px;
}

.user-menu-wrap {
  display: flex;
  width: 190mm;
  justify-content: space-between;
  position: relative;
  left: -195mm;
  opacity: 0;
  transition: left 600ms ease, opacity 300ms;
}

.user-menu-visible {
  left: 0;
  opacity: 1;
  transition: left 300ms ease, opacity 600ms;
}

.user-menu-clipper {
  display: flex;
  justify-content: space-between;
  width: 190mm;
  overflow: hidden;
}

.left-right-navs {
  min-width: 270px;
  width: 25%;
  display: flex;
  flex: 1;
}

.left-nav {
  @extend .left-right-navs;
  justify-content: flex-end;
}

.left-menu-wrapper {
  @extend .sticky-element;
  width: 250px;
}

.right-nav {
  @extend .left-right-navs;
}

.footer {
  background-color: transparent;
  width: $paper-width;
  margin: 0 auto;
}

.top-menu-list,
.user-menu {
  display: flex;
}

.paper-contents {
  margin: 25mm 15mm 20mm 15mm;
}
