.user-menu button {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 200ms;
}

.user-menu button:hover,
.user-menu button:focus {
  opacity: 0.6;
}

.user-menu li:not(:last-child) {
  margin-right: 4px;
}

.material-icons-sharp.md-36 {
  font-size: 36px;
  color: #222;
}

.top-menu-list button {
  background-color: #f7f5ea;
  padding: 3px 0;
  margin: 0;
  cursor: pointer;
  border: none;
  display: block;
  transition: background-color 200ms;
}

.top-menu-list button:hover {
  background-color: #f9f8ef;
}

.top-menu-list button:focus {
  background-color: #fcfbf2;
}

.img-ht {
  height: 30px;
  display: block;
}

.mus-font-span {
  display: block;
  font-family: Leland;
  font-size: 22px;
  line-height: 50px;
  height: 30px;
  padding: 0 5px;
}

.accidental-controls .mus-font-span {
  font-size: 30px;
  line-height: 34px;
}

.rest-controls .mus-font-span {
  font-size: 20px;
  line-height: 28px;
}
