@font-face {
  font-family: Leland;
  src: url("/leland/Leland.otf") format("opentype");
}

@font-face {
  font-family: LelandText;
  src: url("/leland/LelandText.otf") format("opentype");
}

html,
body {
  font-family: LelandText;
  font-size: 16px;
  color: #222;
  height: 100%;
  background-color: #f3f1e0;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

h1.song-title {
  font-size: 36px;
  margin: 0 auto 18px auto;
  text-align: center;
}

h2.composer {
  font-size: 20px;
  margin: 0 auto 10px auto;
  text-align: right;
}

.header-section,
.footer {
  padding: 6px 0;
}

.mus-font {
  font-family: Leland;
  font-size: 36px;
}

.top-menu {
  width: 210mm;
  background-color: #f7f5ea;
  box-shadow: 0 0 14px -12px #141414;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.A4 {
  width: 210mm;
  height: 297mm;
  margin: 24px 16px;
  background-color: #f7f5ea;
  box-shadow: 0 0 24px -20px #141414;
  overflow: hidden;
}

.header-section {
  margin: auto;
  width: 210mm;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.left-menu-wrapper {
  width: 250px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.right-nav {
  width: 25%;
}

.footer {
  background-color: aqua;
}

.top-menu-list,
.user-menu {
  display: flex;
}

.paper-contents {
  margin: 25mm 15mm 20mm 15mm;
}
