html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #243041;
  height: 100%;
  background-color: #f3f1e0;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

@font-face {
  font-family: Leland;
  src: url("/leland/Leland.otf") format("opentype");
}

.mus-font {
  font-family: Leland;
  font-size: 36px;
}

.top-menu {
  margin: 0 1rem;
  width: 210mm;
  background-color: lavenderblush;
}

.A4 {
  width: 210mm;
  height: 297mm;
  margin: 1.4rem 1rem;
  background-color: #f7f5ea;
  box-shadow: 0 0 30px -20px #141414;
  overflow: hidden;
}

.header {
  background-color: burlywood;
  padding: 0.5rem;
}

.left-nav {
  width: 25%;
  background-color: cadetblue;
  padding: 0.5rem;
}

.right-nav {
  width: 25%;
  padding: 0.5rem;
  background-color: chocolate;
}

.footer {
  padding: 0.5rem;
  background-color: cornflowerblue;
}

.top-menu-list {
  display: flex;
}

.top-menu-list li {
  list-style: none;
  margin-right: 6px;
}

.top-menu-list button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.img-ht {
  height: 30px;
}

@media print {
  html,
  body {
    background-color: transparent;
  }

  html,
  body,
  .A4 {
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 210mm;
  }

  .no-print {
    width: 0;
    height: 0;
    display: none;
  }
}
